*,
::before,
::after {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}
li {
  list-style: none;
}

main {
  margin-top: 100px !important;
  min-height: 100vh;
}
